<!--     style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)" -->
<!--   class="hidden h-full  inset-y-0  lg:flex flex-col flex-shrink-0 max-h-screen overflow-hidden border-r bg-white shadow-lg lg:static lg:w-60 lg:shadow-lg" -->
<div class="flex h-screen overflow-y-scroll bg-gray-50">
<!--   [ngClass]=" isSidebarOpen && !isSidebarReduced ? 'sm:w-12 transform place-items-center justify-center ml-1 transition-all duration-300 ease-in  ' : ' bg-cyan-600 w-60'"
  [ngClass]="isSidebarReduced ? ' transform items-center justify-center ml-1 transition-all duration-100 ease-in  ': 'transform-none'" -->

  <!-- Sidebar -->
  <app-sidenav
  (toggleSidebarReduce)="toggleSidebarReduce($event)"
  [isSidebarReduced]="isSidebarReduced"
  [isSidebarOpen]="isSidebarOpen"
  [ngClass]=" isSidebarOpen ? ' transform transition-all duration-300 w-60 ease-in ' : ' -translate-x-full transition-all duration-300 ease-out w-0'"
  [ngClass]="isSidebarReduced ? '  sm:w-12 transform place-items-center justify-center transition-all duration-300 ease-in bg-sellar-primary': 'transform ease-out duration-300 '"
  [ngClass]=" isSidebarOpen && isSidebarReduced ? 'hidden transform transition-all duration-300  sm:w-12 ease-in ' : ' transform-none'"
  >
  </app-sidenav>

  <div class="flex flex-col flex-1 h-full overflow-hidden ">
    <!-- Navbar -->
    <app-navbar (toggleSideNav)="isSidebarOpen =!isSidebarOpen; toggleSidebarMenu(isSidebarOpen)"></app-navbar>

    <!-- Main content -->
    <div class="overflow-auto">
      <router-outlet></router-outlet>
    </div>

    <!-- Main footer -->
    <app-footer class=" fixed justify-between gap-5 bottom-2 p-1"></app-footer>
  </div>

  <!-- Setting panel button -->
  <div>
    <button (click)="isSettingsPanelOpen =!isSettingsPanelOpen"
      class=" fixed justify-center right-10 p-2 text-sm font-medium text-white uppercase transform rotate-180 translate-x-8 bg-sellar-primary top-3/4 rounded-full w-10 h-10 ">
      <mat-icon class=" animate-spin">settings</mat-icon>
    </button>
  </div>

  <!-- Settings panel -->

  <!-- [ngClass]=" !isSettingsPanelOpen ? 'translate-x-full transform duration-300  w-0' : 'inset-y-0 -translate-x-0 transform duration-300  w-56 right-0 bg-yellow-200'  " -->
  <app-settings-panel
   [isSettingsPanelOpen]="isSettingsPanelOpen"
   (toggleSettingsPanel)="toggleSettingsMenu($event)"
   >
  </app-settings-panel>
</div>
