<div class="flex h-screen overflow-y-hidden bg-gray-50">

  <!-- Loading screen -->
  <!-- <div
        class="fixed inset-0 z-50 flex items-center justify-center text-white bg-black bg-opacity-50"
        style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
      >
        Loading.....
      </div> -->

  <!-- <div

        class="fixed inset-0 z-10 bg-black bg-opacity-20 lg:hidden"
        style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
      ></div> -->
  <!-- [ngClass]=" 'isSidebarOpen'? '-translate-x-full' : '-translate-x-full'" -->
  <!-- [ngClass]="'isSidebarOpen'? '-translate-x-full lg:translate-x-0 lg:w-46' : '!isSidebarOpen'" -->


  <!-- Sidebar -->
  <app-sidenav ></app-sidenav>
  <div class="flex flex-col flex-1 h-full overflow-hidden ">
    <!-- Navbar -->
    <app-navbar (toggleSideNav)="toggleSidebarMenu($event)" ></app-navbar>

    <!-- Main content -->
    <div class="overflow-auto"> <app-main></app-main></div>


    <!-- Main footer -->
    <app-footer></app-footer>
  </div>

  <!-- Setting panel button -->
  <div>
    <button (click)="toggleSettings()"
      class=" fixed right-0 px-4 py-2 text-sm font-medium text-white uppercase transform rotate-90 translate-x-8 bg-gray-600 top-1/2 rounded-b-md">
      Settings
    </button>
  </div>

  <!-- Settings panel -->
  <div [ngClass]=" !isSettingsPanelOpen ? 'translate-x-full transform duration-300  w-0' : 'hidden inset-y-0 right-0'  "
    class="hidden fixed inset-y-0 right-0 lg:flex flex-col bg-white shadow-lg bg-opacity-20 w-80"
    style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
    <div class="flex items-center justify-between flex-shrink-0 p-2">
      <h6 class="p-2 text-lg">Settings</h6>
      <button (click)="toggleSettings()" class="p-2 rounded-md focus:outline-none focus:ring">
        <svg class="w-6 h-6 text-gray-600 bg-yellow-300" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="flex-1 max-h-full p-4 overflow-hidden hover:overflow-y-scroll">
      <span>Settings Content</span>
      <!-- Settings Panel Content ... -->
    </div>
  </div>

</div>
