<!-- start of Sales -->
<div class="grid grid-rows-1 justify-center items-center space-y-1 md:grid-rows-3 border-b ">

  <div class="grid grid-rows-4 sm:grid-cols-4 md:grid-rows-1 ">
    <div
      class="-rotate-[7deg] flex-row flex justify-center h-100  items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four border-b-4">
      <div class="block ">
        <div class="box ">
          <p class="number">
            <span class="num">25</span>
            <span class="sub">%</span>
          </p>
          <p class="title">CSS</p>
        </div>
        <span class="dots"></span>
        <svg class="svg">
          <circle class="circle" cx="90" cy="90" r="80" />
        </svg>
      </div>
  </div>

  <div
      class="-rotate-[7deg] flex-row flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four border-b-4">
      <div class="block ">
        <div class="box ">
          <p class="number">
            <span class="num">25</span>
            <span class="sub">%</span>
          </p>
          <p class="title">CSS</p>
        </div>
        <span class="dots"></span>
        <svg class="svg">
          <circle class="circle" cx="90" cy="90" r="80" />
        </svg>
      </div>
  </div>

    <div
      class="-rotate-[7deg] flex-row flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four border-b-4">
      <div class="block ">
        <div class="box ">
          <p class="number">
            <span class="num">25</span>
            <span class="sub">%</span>
          </p>
          <p class="title">CSS</p>
        </div>
        <span class="dots"></span>
        <svg class="svg">
          <circle class="circle" cx="90" cy="90" r="80" />
        </svg>
      </div>
    </div>

    <div
      class="bg-yellow-400 flex-row flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four border-b-4">
      <div class="block ">
        <div class="box ">
          <p class="number">
            <span class="num">25</span>
            <span class="sub">%</span>
          </p>
          <p class="title">CSS</p>
        </div>
        <span class="dots"></span>
        <svg class="svg">
          <circle class="circle" cx="90" cy="90" r="80" />
        </svg>
      </div>
    </div>
    <div
      class="-rotate-[7deg] flex-row flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four border-b-4">
      <div class="block ">
        <div class="box ">
          <p class="number">
            <span class="num">25</span>
            <span class="sub">%</span>
          </p>
          <p class="title">CSS</p>
        </div>
        <span class="dots"></span>
        <svg class="svg">
          <circle class="circle" cx="90" cy="90" r="80" />
        </svg>
      </div>


    </div>
    <div
      class="-rotate-[7deg] flex-row flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four border-b-4">
      <div class="block ">
        <div class="box ">
          <p class="number">
            <span class="num">25</span>
            <span class="sub">%</span>
          </p>
          <p class="title">CSS</p>
        </div>
        <span class="dots"></span>
        <svg class="svg">
          <circle class="circle" cx="90" cy="90" r="80" />
        </svg>
      </div>

    </div>
  </div>

  <div
    class="flex-row
    flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four border-b-4">
    <div class="block ">
      <div class="box ">
        <p class="number">
          <span class="num">25</span>
          <span class="sub">%</span>
        </p>
        <p class="title">CSS</p>
      </div>
      <span class="dots"></span>
      <svg class="svg">
        <circle class="circle" cx="90" cy="90" r="80" />
      </svg>
    </div>
    <div class="block ">
      <div class="box ">
        <p class="number">
          <span class="num">100</span>
          <span class="sub">%</span>
        </p>
        <p class="title">CSS</p>
      </div>
      <span class="dots"></span>
      <svg class="svg">
        <circle class="circle" cx="90" cy="90" r="80" />
      </svg>
    </div>
    <div class="block">
      <div class="box">
        <p class="number">
          <span class="num">35</span>
          <span class="sub">%</span>
        </p>
        <p class="title">JS</p>
      </div>
      <span class="dots"></span>
      <svg class="svg">
        <circle class="circle" cx="90" cy="90" r="80" />
      </svg>
    </div>
  </div>


  <div class="grid grid-cols-3 gap-5">
    <div
      class=" flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black shadow-slate-500 bg-gradient-to-t from-slate-100 to-color-main-four">
      Linear Gradient
    </div>

    <div
      class="flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black  bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 ">
      Radial Gradient
    </div>

    <div class="flex justify-center h-80 items-center text-white shadow-xl rounded-2xl text-lg font-black conic">
      Conic Gradient
    </div>
  </div>
</div>
