<main class="flex-1 max-h-full p-2 overflow-hidden overflow-y-scroll gap-5">
  <!-- Main content header -->
  <div
    class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row">
    <h1 class="text-2xl font-semibold whitespace-nowrap">Dashboard</h1>
    <div class="space-y-6 md:space-x-2 md:space-y-0">
      <a href="https://github.com/Mosouley/responsive-dash" target="_blank"
        class="inline-flex items-center justify-center px-4 py-1 space-x-1 bg-gray-200 rounded-md shadow hover:bg-opacity-20">
        <span>
          <svg class="w-4 h-4 text-gray-500" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
            </path>
          </svg>
        </span>
        <span>View on Github</span>
      </a>

    </div>
  </div>

  <!-- Start Content -->
  <!-- <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div> -->
  <!-- #docregion multi -->
  <mat-accordion class="bg-gray-100 mb-4" multi>
    <!-- #enddocregion multi -->
    <mat-expansion-panel class=" bg-gray-100">
      <mat-expansion-panel-header class="bg-gray-200">
        <mat-panel-title class="text-sellar-primary">
          Performance Dashboard
        </mat-panel-title>
        <mat-panel-description class="justify-end text-sellar-primary">
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 gap-0 mt-6 sm:grid-cols-2 lg:grid-cols-4 hover:border-b ">
        <div *ngFor=" let n of numCards">
          <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-2xl hover:duration-300
            hover:ease-in-out hover:ring-2 hover:scale-105">
            <div class="flex items-start justify-between">
              <div class="flex flex-col space-y-2">
                <span class="text-gray-400 ">Total Users</span>
                <span class="text-lg font-semibold text-sellar-primary">100,222</span>
              </div>
              <div class="p-10 bg-green-400 rounded-md origin-bottom -rotate-12 -translate-y-8 "></div>
            </div>
            <div>
              <span class="inline-block px-2 text-sm text-white bg-green-300 rounded">14%</span>
              <span>from 2019</span>
            </div>
          </div>

        </div>

      </div>
    </mat-expansion-panel>
    <!-- #docregion disabled -->
    <mat-expansion-panel disabled>
      <!-- #enddocregion disabled -->
      <mat-expansion-panel-header>
        <mat-panel-title class="text-sellar-primary">
          Panel disabled
        </mat-panel-title>
        <mat-panel-description class="justify-end">


          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


    </mat-expansion-panel>

    <mat-expansion-panel class="bg-gray-100">
      <mat-expansion-panel-header class="bg-gray-300">
        <mat-panel-title class="text-sellar-primary">
          Other Dashboard
        </mat-panel-title>
        <mat-panel-description class="justify-end">
          <mat-icon>schedule</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <img src="assets/img/beams.jpeg" alt="" class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2 " width="1308" />
        <div class="absolute inset-0 bg-[url(assets/img/grid2.png)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
          <!-- <div class="grid grid-cols-1 gap-0 mt-6 sm:grid-cols-2 lg:grid-cols-4 hover:border-b ">
            <div *ngFor=" let n of numCards">
              <div
                class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-2xl hover:duration-75 hover:ease-in-out">
                <div class="flex items-start justify-between">
                  <div class="flex flex-col space-y-2">
                    <span class="text-gray-400">Total Users</span>
                    <span class="text-lg font-semibold">100,221</span>
                  </div>
                  <div class="p-10 bg-blue-600 -translate-y-10  rounded-md  shadow-red-200"></div>
                </div>
                <div>
                  <span class="inline-block px-2 text-sm text-white bg-green-300 rounded">14%</span>
                  <span>from 2019</span>
                </div>
              </div>

            </div>
          </div> -->
          <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
            <div class="mx-auto max-w-md">
              <img src="/img/logo.svg" class="h-6" alt="Tailwind Play" />
              <div class="divide-y divide-gray-300/50">
                <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                  <p>An advanced online playground for Tailwind CSS, including support for things like:</p>
                  <ul class="space-y-4">
                    <li class="flex items-center">
                      <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="11" />
                        <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                      </svg>
                      <p class="ml-4">
                        Customizing your
                        <code class="text-sm font-bold text-gray-900">tailwind.config.js</code> file
                      </p>
                    </li>
                    <li class="flex items-center">
                      <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="11" />
                        <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                      </svg>
                      <p class="ml-4">
                        Extracting classes with
                        <code class="text-sm font-bold text-gray-900">@apply</code>
                      </p>
                    </li>
                    <li class="flex items-center">
                      <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="11" />
                        <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                      </svg>
                      <p class="ml-4">Code completion with instant preview</p>
                    </li>
                  </ul>
                  <p>Perfect for learning how the framework works, prototyping a new idea, or creating a demo to share online.</p>
                </div>
                <div class="pt-8 text-base font-semibold leading-7">
                  <p class="text-gray-900">Want to dig deeper into Tailwind?</p>
                  <p>
                    <a href="https://tailwindcss.com/docs" class="text-sky-500 hover:text-sky-600">Read the docs &rarr;</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>


    </mat-expansion-panel>

    <mat-expansion-panel class="bg-gray-400">
      <mat-expansion-panel-header class="bg-gray-100">
        <mat-panel-title class="text-sellar-primary">
          Table Dashboard
        </mat-panel-title>
        <mat-panel-description class="justify-end text-sellar-primary">

          <mat-icon>dashboard</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden border-b border-blue-200 rounded-md shadow-md">
            <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
              <thead class="bg-gray-200">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Name
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Title
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Status
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Role
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200" *ngFor="let n of numCards ; let i=index">

                <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
                  <td class="px-6 py-3 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 w-10 h-10">
                        <img class="w-5 h-5 rounded-full" src="" alt="" />
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">Ahmed Kamel</div>
                        <div class="text-sm text-gray-500">ahmed.kamel@example.com</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap">
                    <div class="text-sm text-gray-900">Regional Paradigm Technician</div>
                    <div class="text-sm text-gray-500">Optimization</div>
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap">
                    <span
                      class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                      Active
                    </span>
                  </td>
                  <td class="px-6 py-3 text-sm text-gray-500 whitespace-nowrap">
                    Admin
                  </td>
                  <td class="px-6 py-3 text-sm font-medium text-right whitespace-nowrap">
                    <a  class="text-indigo-600 hover:text-indigo-900">Edit</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="flex flex-row gap-2 mt-4  ">
    <div class="bg-blue-200 w-2/8 h-1/6 rounded-2xl shadow-inner p-5">



      <div class="bg-gray-300 m-5 grid grid-rows-3 gap-4 p-5">
        <svg height="150px" width="600px">
          <circle class="stroke-current text-pink-400" cx="5" cy="10" r="50" />
          <circle class="stroke-current text-red-400" cx="50" cy="20" r="50" />
          <circle class="stroke-current text-yellow-400" cx="75" cy="30" r="50" />
          <circle class="stroke-current text-blue-400 fill-white stroke-1" cx="90" cy="50" r="50" />
        </svg>
      </div>

    </div>
    <div class="bg-white w-1/8 h-1/8  rounded-lg shadow-inner">

    </div>
  </div>


</main>
