<main class="flex-1 max-h-full p-2 overflow-hidden overflow-y-scroll gap-2">
  <!-- Main content header -->
  <div
    class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row">
    <h1 class="text-2xl font-semibold whitespace-nowrap">Dashboard</h1>
    <div class="space-y-6 md:space-x-2 md:space-y-0">
      <a href="https://github.com/Mosouley/responsive-dash" target="_blank"
        class="inline-flex items-center justify-center px-4 py-1 space-x-1 bg-gray-200 rounded-md shadow hover:bg-opacity-20">
        <span>
          <svg class="w-4 h-4 text-gray-500" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
            </path>
          </svg>
        </span>
        <span><small>view on Github</small> </span>
      </a>

    </div>
  </div>

  <!-- Start Content -->
  <!-- <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div> -->
  <!-- #docregion multi -->
  <mat-accordion class="bg-gray-100 mb-4" multi>
    <!-- #enddocregion multi -->
    <mat-expansion-panel class=" bg-gray-100">
      <mat-expansion-panel-header class="bg-gray-200">
        <mat-panel-title class="text-sellar-primary">
          Performance Dashboard
        </mat-panel-title>
        <mat-panel-description class="justify-end text-sellar-primary">
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-rows-2 gap-0 mx-auto my-auto sm:grid-cols-2 lg:grid-cols-4 hover:border-b ">
        <div *ngFor=" let n of numCards">
          <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-2xl hover:duration-300
            hover:ease-in-out hover:ring-2 hover:scale-105">
            <div class="flex items-start justify-between">
              <div class="flex flex-col space-y-2">
                <span class="text-gray-400 ">Total Users</span>
                <span class="text-lg font-semibold text-sellar-primary">100,222</span>
              </div>
              <div class="p-10 bg-green-400 rounded-md origin-bottom -rotate-12 -translate-y-8 "></div>
            </div>
            <div>
              <span class="inline-block px-2 text-sm text-white bg-green-300 rounded">14%</span>
              <span>from 2019</span>
            </div>
          </div>

        </div>
        <div *ngFor=" let n of numCards">
          <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-2xl hover:duration-300
            hover:ease-in-out hover:ring-2 hover:scale-105">
            <div class="flex items-start justify-between">
              <div class="flex flex-col space-y-2">
                <span class="text-gray-400 ">Total Users</span>
                <span class="text-lg font-semibold text-sellar-primary">100,222</span>
              </div>
              <div class="p-10 bg-green-400 rounded-md origin-bottom -rotate-12 -translate-y-8 "></div>
            </div>
            <div>
              <span class="inline-block px-2 text-sm text-white bg-green-300 rounded">14%</span>
              <span>from 2019</span>
            </div>
          </div>

        </div>
        <div class="container my-12 mx-auto px-4 md:px-12">
          <div class="flex flex-wrap -mx-1 lg:-mx-4">

            <!-- Column -->
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                  <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black" href="#">
                      Article Title
                    </a>
                  </h1>
                  <p class="text-grey-darker text-sm">
                    11/1/19
                  </p>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                    <p class="ml-2 text-sm">
                      Author Name
                    </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                    <span class="hidden">Like</span>
                    <i class="fa fa-heart"></i>
                  </a>
                </footer>

              </article>
              <!-- END Article -->

            </div>
            <!-- END Column -->

            <!-- Column -->
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                  <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black" href="#">
                      Article Title
                    </a>
                  </h1>
                  <p class="text-grey-darker text-sm">
                    11/1/19
                  </p>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                    <p class="ml-2 text-sm">
                      Author Name
                    </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                    <span class="hidden">Like</span>
                    <i class="fa fa-heart"></i>
                  </a>
                </footer>

              </article>
              <!-- END Article -->

            </div>
            <!-- END Column -->

            <!-- Column -->
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                  <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black" href="#">
                      Article Title
                    </a>
                  </h1>
                  <p class="text-grey-darker text-sm">
                    11/1/19
                  </p>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                    <p class="ml-2 text-sm">
                      Author Name
                    </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                    <span class="hidden">Like</span>
                    <i class="fa fa-heart"></i>
                  </a>
                </footer>

              </article>
              <!-- END Article -->

            </div>
            <!-- END Column -->

            <!-- Column -->
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                  <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black" href="#">
                      Article Title
                    </a>
                  </h1>
                  <p class="text-grey-darker text-sm">
                    11/1/19
                  </p>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                    <p class="ml-2 text-sm">
                      Author Name
                    </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                    <span class="hidden">Like</span>
                    <i class="fa fa-heart"></i>
                  </a>
                </footer>

              </article>
              <!-- END Article -->

            </div>
            <!-- END Column -->

            <!-- Column -->
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                  <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black" href="#">
                      Article Title
                    </a>
                  </h1>
                  <p class="text-grey-darker text-sm">
                    11/1/19
                  </p>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                    <p class="ml-2 text-sm">
                      Author Name
                    </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                    <span class="hidden">Like</span>
                    <i class="fa fa-heart"></i>
                  </a>
                </footer>

              </article>
              <!-- END Article -->

            </div>
            <!-- END Column -->

            <!-- Column -->
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

              <!-- Article -->
              <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                  <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black" href="#">
                      Article Title
                    </a>
                  </h1>
                  <p class="text-grey-darker text-sm">
                    11/1/19
                  </p>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                    <p class="ml-2 text-sm">
                      Author Name
                    </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                    <span class="hidden">Like</span>
                    <i class="fa fa-heart"></i>
                  </a>
                </footer>

              </article>
              <!-- END Article -->

            </div>
            <!-- END Column -->

          </div>
        </div>

        <div class="my-5">
          <div class="
            flex
            w-full
            max-w-sm
            mx-auto
            overflow-hidden
            bg-white
            rounded-lg
            shadow-md
            dark:bg-gray-800
          ">
            <div class="flex items-center justify-center w-12 bg-green-500">
              <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z" />
              </svg>
            </div>

            <div class="px-4 py-2 -mx-3">
              <div class="mx-3">
                <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
                <p class="text-sm text-gray-600 dark:text-gray-200">
                  Your account was registered!
                </p>
              </div>
            </div>
          </div>

          <div class="
            flex
            w-full
            max-w-sm
            mx-auto
            overflow-hidden
            bg-white
            rounded-lg
            shadow-md
            dark:bg-gray-800
            my-5
          ">
            <div class="flex items-center justify-center w-12 bg-blue-500">
              <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z" />
              </svg>
            </div>

            <div class="px-4 py-2 -mx-3">
              <div class="mx-3">
                <span class="font-semibold text-blue-500 dark:text-blue-400">Info</span>
                <p class="text-sm text-gray-600 dark:text-gray-200">
                  This channel archived by the owner!
                </p>
              </div>
            </div>
          </div>

          <div class="
            flex
            w-full
            max-w-sm
            mx-auto
            overflow-hidden
            bg-white
            rounded-lg
            shadow-md
            dark:bg-gray-800
            my-5
          ">
            <div class="flex items-center justify-center w-12 bg-yellow-400">
              <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z" />
              </svg>
            </div>

            <div class="px-4 py-2 -mx-3">
              <div class="mx-3">
                <span class="font-semibold text-yellow-400 dark:text-yellow-300">Warning</span>
                <p class="text-sm text-gray-600 dark:text-gray-200">
                  Your image size is too large!
                </p>
              </div>
            </div>
          </div>

          <div class="
            flex
            w-full
            max-w-sm
            mx-auto
            overflow-hidden
            bg-white
            rounded-lg
            shadow-md
            dark:bg-gray-800
          ">
            <div class="flex items-center justify-center w-12 bg-red-500">
              <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z" />
              </svg>
            </div>

            <div class="px-4 py-2 pb-5 -mx-3">
              <div class="mx-3">
                <span class="font-semibold text-red-500 dark:text-red-400">Error</span>
                <p class="text-sm text-gray-600 dark:text-gray-200">
                  Your email is already used!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class=" bg-gray-100">
      <mat-expansion-panel-header class="bg-gray-200">
        <mat-panel-title class="text-sellar-primary">
          Test Dashboard
        </mat-panel-title>
        <mat-panel-description class="justify-end text-sellar-primary">
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <div class="grid grid-flow-col gap-0 mx-auto my-auto sm:grid-cols-2 lg:grid-cols-4 hover:border-b "> -->

      <div class="sm:m-6 space-y-6 " >
        <!-- Call to action -->
        <div class=" theme-swiss relative bg-skin-fill max-w-4xl mx-auto overflow-hidden sm:rounded-2xl">
          <img class="absolute inset-0 h-full w-full object-cover opacity-30"
            src="https://images.unsplash.com/photo-1613217784112-e0e197be6a0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80&sat=-100"
            alt="People working on laptops" />
          <div class="absolute inset-0 bg-gradient-to-br from-skin-hue via-skin-hue to-transparent opacity-90"></div>
          <div class="relative max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold text-skin-base sm:text-4xl">
              <span class="block">Focus on your content.</span>
              <span class="block">We handle the distribution.</span>
            </h2>
            <p class="mt-4 text-lg leading-6 text-skin-muted">Ac euismod vel sit maecenas id pellentesque eu sed
              consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
            <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
              <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                <a href="#"
                  class="text-skin-inverted bg-skin-button-accent hover:bg-skin-button-accent-hover flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm sm:px-8">
                  Get started </a>
                <a href="#"
                  class="text-skin-base bg-skin-button-muted flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm bg-opacity-60 hover:bg-opacity-70 sm:px-8">
                  Live demo </a>
              </div>
            </div>
          </div>
        </div>
        <div class="relative bg-skin-fill max-w-4xl mx-auto overflow-hidden sm:rounded-2xl">
          <img class="absolute inset-0 h-full w-full object-cover opacity-30"
            src="https://images.unsplash.com/photo-1613217784112-e0e197be6a0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80&sat=-100"
            alt="People working on laptops" />
          <div class="absolute inset-0 bg-gradient-to-br from-skin-hue via-skin-hue to-transparent opacity-90"></div>
          <div class="relative max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold text-skin-base sm:text-4xl">
              <span class="block">Focus on your content.</span>
              <span class="block">We handle the distribution.</span>
            </h2>
            <p class="mt-4 text-lg leading-6 text-skin-muted">Ac euismod vel sit maecenas id pellentesque eu sed
              consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
            <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
              <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                <a href="#"
                  class="text-skin-inverted bg-skin-button-accent hover:bg-skin-button-accent-hover flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm sm:px-8">
                  Get started </a>
                <a href="#"
                  class="text-skin-base bg-skin-button-muted flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm bg-opacity-60 hover:bg-opacity-70 sm:px-8">
                  Live demo </a>
              </div>
            </div>
          </div>
        </div>

        <div class="theme-neon relative bg-skin-button-fill max-w-4xl mx-auto overflow-hidden sm:rounded-2xl">
          <img class="absolute inset-0 h-full w-full object-cover opacity-30"
            src="https://images.unsplash.com/photo-1613217784112-e0e197be6a0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80&sat=-100"
            alt="People working on laptops" />
          <div class="absolute inset-0 bg-gradient-to-br from-skin-hue via-skin-hue to-transparent opacity-90"></div>
          <div class="relative max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold text-skin-base sm:text-4xl">
              <span class="block">Focus on your content.</span>
              <span class="block">We handle the distribution.</span>
            </h2>
            <p class="mt-4 text-lg leading-6 text-skin-muted">Ac euismod vel sit maecenas id pellentesque eu sed
              consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
            <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
              <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                <a href="#"
                  class="text-skin-inverted bg-skin-button-accent hover:bg-skin-button-accent-hover flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm sm:px-8">
                  Get started </a>
                <a href="#"
                  class="text-skin-base bg-skin-button-muted flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm bg-opacity-60 hover:bg-opacity-70 sm:px-8">
                  Live demo </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </mat-expansion-panel>
    <!-- #docregion disabled -->
    <mat-expansion-panel disabled>
      <!-- #enddocregion disabled -->
      <mat-expansion-panel-header>
        <mat-panel-title class="text-sellar-primary">
          Panel disabled
        </mat-panel-title>
        <mat-panel-description class="justify-end">
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel class="bg-gray-100">
      <mat-expansion-panel-header class="bg-gray-300">
        <mat-panel-title class="text-sellar-primary">
          Other Dashboard
        </mat-panel-title>
        <mat-panel-description class="justify-end">
          <mat-icon class="text-sellar-primary">schedule</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel class="bg-gray-200">
      <mat-expansion-panel-header class="bg-gray-100">
        <mat-panel-title class="text-sellar-primary">
          Table Dashboard
        </mat-panel-title>
        <mat-panel-description class="justify-end text-sellar-primary">

          <mat-icon>dashboard</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden border-b border-blue-200 rounded-md shadow-md">
            <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
              <thead class="bg-gray-200">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Name
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Title
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Status
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Role
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200" *ngFor="let n of numCards ; let i=index">

                <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
                  <td class="px-6 py-3 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 w-10 h-10">
                        <img class="w-5 h-5 rounded-full" src="" alt="" />
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">Ahmed Kamel</div>
                        <div class="text-sm text-gray-500">ahmed.kamel@example.com</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap">
                    <div class="text-sm text-gray-900">Regional Paradigm Technician</div>
                    <div class="text-sm text-gray-500">Optimization</div>
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap">
                    <span
                      class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                      Active
                    </span>
                  </td>
                  <td class="px-6 py-3 text-sm text-gray-500 whitespace-nowrap">
                    Admin
                  </td>
                  <td class="px-6 py-3 text-sm font-medium text-right whitespace-nowrap">
                    <a class="text-indigo-600 hover:text-indigo-900">Edit</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</main>
