
<aside class="hidden h-full fixed inset-y-0  lg:flex flex-col flex-shrink-0 w-50 max-h-screen overflow-hidden transition-all transform  border-r shadow-lg  lg:static lg:shadow-lg">
  <div class="flex items-center  flex-shrink-0 p-1">
    <span class="p-2 text-xl text-sellar-primary font-semibold leading-8 tracking-wider  whitespace-nowrap border-b "
      [ngClass]="isSidebarReduced ? ' hidden items-center justify-center': 'translate-x-0'">
      Yasin<span>-Dev</span>
    </span>
    <button (click)="isSidebarReduced = ! isSidebarReduced" class="p-1 rounded-md border  border-sellar-primary mx-auto">

      <mat-icon [ngClass]="{'transform transition-transform rotate-180': isSidebarReduced}" class="text-sellar-primary scale-75 ">start</mat-icon>
    </button>
  </div>

  <nav class="flex-1 px-0 py-0 overflow-y-hidden hover:overflow-y-auto  ">
    <ul class="p-2 overflow-hidden mx-2">
      <li *ngFor=" let link of links">
        <a [routerLink]=[link.url] class="inline-flex items-center justify-center  p-2 pr-0  space-x-1 rounded-lg hover:bg-slate-200">
          <span [ngClass]="isSidebarReduced ? ' items-center justify-center': 'translate-x-0 '">
            <mat-icon class="scale-75 text-sellar-primary ">{{link.icon}}</mat-icon>
          </span>
          <span [ngClass]="isSidebarReduced ? 'hidden ': 'translate-x-0 '">{{link.name}}</span>
          <span [ngClass]="isSidebarReduced ? 'hidden ': ''">
            <mat-icon class="scale-75 text-sellar-primary justify-self-end " (click)="isArrowOpen = !isArrowOpen">chevron_left</mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Sidebar footer -->
  <div class="flex-shrink-0 p-0 border-t max-h-12">
    <button
      class="flex items-center justify-center w-full px-4 py-2 space-x-1 font-medium tracking-wider  bg-gray-100 border border-sellar-primary rounded-md focus:outline-none focus:ring">
      <span>
        <mat-icon class="scale-75 text-sellar-primary">logout</mat-icon>
      </span>
      <span [ngClass]="{'sm:hidden': isSidebarReduced}"> Logout </span>
    </button>
  </div>
</aside>
